div.ikinci_kisim{
    width: 1000px;
    height: 1000px;
    margin-left: 150px;
    background: linear-gradient(90deg,rgb(3, 91, 163)0%,rgb(233, 5, 195)35%,rgb(98, 0, 255)100%);
    border:3px solid orange ;
    margin: auto;
  }
  div.ex1{
    background-color: black;
    width: 1000px;
    height: 1000px;
    margin: auto;
    border: 3px solid #73ad22;
  }
  div.Alt_kısım{
    width: 1000px;
    height: 1000px;
    margin-left: 150px;
    background-color: black;
    border: 6px solid blue;
    margin: auto;
  }
  
  div.sol_menü{
    background-color: rgb(0, 0, 0);
    float: left;
    margin-left: 1px; 
    margin-top: 20px;
    border-radius: 20px 10px ;
  }
div.yonlendirme{
  background-color:olivedrab;
  size: 100px 500px;
}
div.ust_kisim{
  size: 50px 1000px;
  
}
div.ust_kisim2{
  border: 3px solid royalblue;

}


body.Anasayfa{


  background-repeat: repeat;

   }
body.lol{
    background-image: url("./resimler/lol.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}
body.portal2{
    background-image: url("./resimler/portal2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}

video.dogu_perincekkavga{
  width: 500px;
  height: 500px;
}
a.Anasayfa1{
  color:darkblue;
  size: 10px 10px;
  text-decoration: none;
  text-shadow:2px 2px chocolate;
}
a.sol_menü1{
  color: white;
  size: 10px 10px;
  text-decoration: none;
  text-decoration-color: yellow;
}
img.resim2{
  width: 1000px;
    height: auto;
}
img.resim_portal{
  width: 400px;
  height: 400px;
  margin-left: 50px;
}
img.resim1{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
  }
  table.menü{
    width: 100px;
    height: 100px;
    border: 3px solid black;

  }
  table.yönlendirme_cubuk{
    width: 1000px;
    height: auto;
    border: 3px solid black;
    row-gap: 10px;
  }
  td.menü1{
    width: 300;
    height: 300;
    color: green;
    border: greenyellow 3px;
  }